header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #b32d28;
    color: white;
    border-radius: 15px;
}

h1 {
    border-radius: 2px;
    color: white;
    font-size: 64px;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

.header-button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #9c100c;
    color: rgb(255, 255, 255);
    border-color: #b4b4b4;
    border-radius: 2px;
    cursor: pointer;
    border-style: groove;
    border-radius: 10px;
    height: 64px;
    margin: 0px;
    font-size: 32px;
}

.center {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 2px solid black;
    border-radius: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.info {
    width: 70%;
    margin: 0 auto;
    background-color: black;
    padding: 4px;
    display: flex;
}

.info-container {
    background-color: #dfdfdf;
    text-align: center;
    margin: 2px 2px;
}

.info-text {
    text-align: left;
    margin: 4px;
}

.guide-buttons {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 240px;
}

.guide {
    font-size: 20px;
    height: 48px;
    cursor: pointer;
    border-style: groove;
    border-radius: 10px;
}

.active {
    background-color: #afafaf;
}

.guide-content {
    padding: 0.5rem;
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
}

.guide-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    background-color: #dfdfdf;
    border-radius: 15px;
    padding: 8px
}

.filepath {
    background-color: #bfbfbf;
    color: black;
    border-radius: 5px;
}