body {
    background-color: #610707;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

button {
    cursor: pointer;
    border: 2px solid #a00b0b;
    border-radius: 10px;
    background-color: #6d0606;
    color: white;
    border-radius: 15px;
}

img {
    border-radius: 15px;
    margin: 8px 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #940b0b;
    color: white;
    border-radius: 15px;
}

footer {
    padding: 1rem 2rem;
    background-color: #940b0b;
    border-radius: 15px;
    margin: 1rem;
}

main {
    flex: 1;
    padding: 1rem;
    align-items: center;
    height: 100vh;
}

a {
    color: #00afff;
}

h1 {
    border-radius: 2px;
    color: white;
    font-size: 64px;
    -webkit-text-stroke: 2px black;
    margin: 0;
}

strong {
    border-radius: 8px;
    padding: 4px;
}

input {
    background-color: #5f0808;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
}

.header-button {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    height: 64px;
    margin: 0px;
    font-size: 32px;
}

.center {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 4px solid #a00b0b;
    border-radius: 15px;
    background: #6d0606;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 8px 0;
}

.info {
    min-width: 40%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #a00b0b;
    padding: 4px;
    display: flex;
    border-radius: 15px;
}

.info-container {
    background-color: #6d0606;
    text-align: center;
    margin: 2px;
    border-radius: 15px;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
}

.info-text {
    text-align: left;
    margin: 4px;
    flex: 1;
}

.guide-buttons {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 240px;
}

.guide {
    font-size: 20px;
    height: 48px;
    cursor: pointer;
    border: 2px solid #a00b0b;
    border-radius: 10px;
    background-color: #6d0606;
    color: white;
    margin: 4px 0;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
}

.guide-content {
    padding: 0.5rem;
    flex: 1;
    border: 4px solid #a00b0b;
    border-radius: 15px;
    color: white;
}

.guide-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    background-color: #770505;
    border-radius: 15px;
    padding: 8px
}

code {
    background-color: #610707;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

.error-container {
    background-color: #aa0000;
    width: 40%;
    margin: 0 auto;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}

.title {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #770505;
    border-radius: 25px;
    border: 4px solid #a00b0b;
}

.title-main {
    font-size: 84px;
    margin: 0 auto;
    -webkit-text-stroke: 2px black;
}

.title-desc {
    font-size: 24px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #770505;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 24px;
    border: 4px solid #a00b0b;
}

.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    max-width: 2000px;
    margin: 0 auto;
    flex: 1;
}

.member-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.team-member {
    background-color: #a00b0b;
    margin: 8px 8px;
    padding: 8px 8px;
    border-radius: 15px;
    max-width: 600px;
    height: 10rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: 0 1 30%;
}

.team-link {
    color: white;
}

.splatfest-active {
    background-color: #00af00;
    border: 2px solid #00ff00;
    border-radius: 16px;
    padding: 8px;
}

.splatfest-notfound {
    background-color: #6d0606;
    border: 2px solid #a00b0b;
    border-radius: 16px;
    padding: 8px;
}

.active {
    background-color: #a00b0b;
    border-color: #6d0606;
}